# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>


<div class="row"><div class="two columns centered"><h4>Search</h4></div></div>

 <div  class="row">  
     <div class="five columns">
	    <div class="panel withborder">
		          <div class="two columns centered"><h5> Search </h5></div>
		    	  hello world
                          <%include file="/quick_search_form.html"/>
		</div>
	 </div>
     <div class="six columns">
    	 <%include file="/searchtips.html"/> 
     </div>
 </div>
