<div class="user-panel">
<!-- id="quicklogin" -->

  % if login == "":
  	<form  class="user-form" action="/login" method="get">
	  	<!-- id="quickloginform" -->
	  	 <div >
	  	 	<input id="login" name='login' type="submit" value="login"/>
	  	 </div> 
  	 </form>
  % endif  	 
  % if logout == "":
     % if user_logged_in_name  and user_logged_in_name != None:
     	<span class="df-user" >${user_logged_in_name}</span>
     % endif
    <form  class="user-form"  action="/logout" method="get"> 
     <!-- id="quickloginform" -->
     <div >
     	<input id="logout" name= 'logout' type="submit" value="logout"/>
      </div> 
    </form>
    
        	<ul class="user-options" >
    	 <li><a href="/myrecords" >My records</a></li>
    	 <li><a href="/admin" >administration</a></li>
    	 </ul>
  % endif
</div>
