<div>
<!-- id="quicklogin" -->
  ${user_logged_in_name}
  % if login == "":
  	<form  action="/login" method="get">
  	<!-- id="quickloginform" -->
  	 <div  class="row">
  	 	<input id="login" name='login' type="submit" value="login"/>
  	 </div> 
  % endif  	 
  % if logout == "":
     jbgkbggmfng
     % if user_logged_in_name  and user_logged_in_name != None:
     	${user_logged_in_name}
     % endif
   <form action="/logout" method="get"> 
     <!-- id="quickloginform" -->
     <div  class="row">
     	<input id="logout" name= 'logout' type="submit" value="logout"/>
      </div> 
  % endif

   
    <div>
    	 <a href="/myrecords" >My records</a> |
    	 <a href="/admin" >administration</a>
    </div>
  % if login == "" or  logout == "":   
  	</form>
  % endif
  
</div>