<div id="quicklogin">

  % if login == "":
  	<form  id="quickloginform" action="/login" method="get">
  	 <div  class="row">
  	 <input id="commit" name='login' type="submit" value="login"></input>
  % endif  	 
  % if logout == "":
   <form  id="quickloginform" action="/logout" method="get">
     <div  class="row">
     <input id="commit" name= 'logout' type="submit" value="logout"></input>
  % endif

 </div>    
    <div>
    	 <a href="/" target="_blank">My records</a> |
    	 <a href="/" target="_blank">administration</a>
    </div>
  </form>

</div>