<div id="quicksearchform" > 
  <form   action="/search/detailed" method="get">
   <!-- id="quicksearchform" -->
 <!--   <div  class="row">
     <div class="eight columns">
     -->
     <div class="quick-search">
     	<input type="text"  name="q"/><!-- id="q" -->
   <!--  </div>
       <div class="four columns"> -->
     	<input type="submit"  name="search"  value="search" /><!-- id="search" -->
    <!-- </div> -->
    </div>

    <!-- <select id="ft" name="ft" >
      <option value="silo">Silo</option>
      <option value="dataset">Data Packages</option>
      <option value="item">File Names</option>
      <option value="all">All</option>
    </select>
    -->
  <!--  <div><input type="radio" name="all" value="all"/> search all fields</div>
    <div><input type="radio" name="metadata" value="metadata"/> only search metadata</div> -->
      <div class="clear-fix">
    </div>
  
  </form>
 </div>
<!-- id="quicksearch" -->