# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> DataFinder : Record Name</title>
</%def>
 
% if message:
	<p><span style="color:red;">${message}</span></p>
% endif 

<div class="record-entry">
<% df_record = solr_response['docs'][0] %>
<h1>${df_record['id']}</h1>


 <div class="main-col">
    <div class="record-intro">
     <p class="citation">
     <span class="record-author">
		% if creators_list :
			Author(s): ${creators_list}
		% else:
			Author(s): Unknown
		% endif
     </span>
     
     (<span class="publication-date">
  
     % if 'issued' in df_record : 
			publication date: ${df_record['issued'][0]}
	 % else:
			publication date: Unknown
	 % endif
     </span> ).
     
     <span class="record-title">
  
     % if 'title' in df_record : 
			publication title: ${df_record['title'][0]}
	 % else:
			publication title: Unknown
	 % endif
     </span>.
     
     <span class="record-publisher">   
     % if 'publisher' in df_record : 
			Publisher: ${df_record['publisher'][0]}
	 % else:
			Publisher: Unknown
	 % endif
     </span>
     
     <span class="record-doi">   
     % if 'doi' in df_record :             
			DOI: <a href="http://dx.doi.org/${df_record['doi'][0]}">${df_record['doi'][0]}</a>
	 % else:
			DOI: Unknown
	 % endif
     </span>

    
    <p class="citation-url">
    <label>Use this url to cite this item:</label> 
    <span class="record-url">
    % if 'doi' in df_record :          
    <a href="http://dx.doi.org/${df_record['doi'][0]}" >http://dx.doi.org/${df_record['doi'][0]}</a>
     % else:
	 <a href=""> url </a>
	 % endif
    </span>
    </p>

<div class="record-abstract" >
<h2>Abstract</h2>

% if 'description' in df_record:
	<% count = len(df_record['description']) %>
	<% i = 0 %>
	% while i < count:
	<p>${df_record['description'][i]} </p>
	<% i = i + 1 %>
	% endwhile
% endif
</div>
    
        <div class="section-container accordion" data-section="accordion">


        </div>
        
    </div><!-- .record-intro closes -->
    
    
    <ul class="accordion" data-section="accordion">
    
    
    			  <li id="author-details">
			    <h2 class="title" data-section-title><a href="#">Author Details</a></h2>
			    <div class="content" data-section-content>
			     
			     
			       <div class="author" id="author-1">
	    % if 'creator' in df_record:
		    <% creators = df_record['creator'] %>
		        % for creator in creators :
			        	<h3>${creator}</h3>
			    % endfor 
	    % else :
	           <h3> Author: </h3>		    	
		% endif
		        <div class="author-info">
			        <dl>
			            <dt>Institution :</dt> <dd></dd>
			            <dt>Faculty :</dt>     <dd></dd>
			            <dt>College :</dt>     <dd></dd>
			            <dt>Role :</dt>        <dd></dd>
			        </dl>
		        </div>


        
        <!-- <div class="author" id="author-2">
	        <h3>Author 2</h3>
	        <div class="author-info">
	        <dl>
	            <dt>Institution</dt>
	            <dd>uni of ox</dd>
	            <dt>Faculty</dt>
	            <dd>fac of foo</dd>
	            <dt>College</dt>
	            <dd>St. George</dd>
	            <dt>Role</dt>
	            <dd>Kitchen Staff supervisor</dd>
	        </dl>
	        </div> --> 
        <!-- #author-2 closes -->

			     
			     <div class="clear-fix"></div>
			    </div><!-- .content closes -->
			   </li><!-- #author-details closes -->
			  
			  
			  
			  <li id="publication-details">
			    <h2 class="title" data-section-title><a href="#">Publication details</a></h2>
			    <div class="content" data-section-content>
			 
			 <dl>
			 <dt>Publication year/date of release : </dt>
			 <dd>
			 % if 'issued' in df_record : 
                <dd>${df_record['issued'][0]}</dd>
             % else:
			 	<dd> </dd>
	 		 % endif
	 		 </dd>   
			 
			 <dt>Date data collected : </dt>
			 <dd></dd>
			 
			 <dt>Publisher : </dt>
			 <dd> 
			 % if 'publisher' in df_record : 
                <dd>${df_record['publisher'][0]}</dd>
             % else:
			 	<dd> <dd>
	 		 % endif
	 		 </dd>
			 
			 <dt>Identifiers</dt>
			 <dd class="identifiers">
  			 <ul>
  			 <li>DOI</li>
  			 <li><a href="#">url</a></li>
  			 <li>UUID</li>
  			 </ul>			 
			 </dd>
			 
			 <dt>Language</dt>
				 % if 'language' in df_record : 
	                <dd>${df_record['language'][0]}</dd>
	             % else:
				 	<dd> <dd>
		 		 % endif			 
			 </dl>
			 
			 
			 
			 <div class="clear-fix"></div>
			    </div><!-- .content closes -->
			  </li><!-- #publication-details closes -->
			  
			  
        
        <li id="item-description">
          <h2 class="title" data-section-title><a href="#">Item description</a></h2>
          <div class="content" data-section-content>
          
          <dl>
            <dt>Subject</dt>           
            <dd>
		        % if subjects_list:
					Author(s): ${subjects_list}
				% endif
			</dd>
            
            <dt>Keywords</dt>
            <dd>
		        % if keywords_list:
					Author(s): ${keywords_list}
				% endif
			</dd>
            
            <dt>Format</dt>
            <dd>  
				% if 'format' in df_record:
					<% count = len(df_record['format']) %>
					<% i = 0 %>
					% while i < count:
					<p>${df_record['format'][i]} , </p>
					<% i = i + 1 %>
					% endwhile
				% endif
			</dd>
            
            <dt>Version</dt>
            <dd>
                % if 'currentversion' in df_record:
					Author(s): ${df_record['currentversion']}
				% endif
      
            </dd>
            
            <dt>Location of dataset</dt>
            <!-- <dd><a href="#">url</a>, physical location, email address of dataset owner/dept</dd> -->
             <dd>
                % if 'location' in df_record:
					Author(s): ${df_record['location']}
				% endif
      
            </dd>
            
            
            
            <dt>Description</dt>
            <dd>           
				% if 'description' in df_record:
					<% count = len(df_record['description']) %>
					<% i = 0 %>
					% while i < count:
					<p>${df_record['description'][i]} </p>
					<% i = i + 1 %>
					% endwhile
				% endif
            </dd>
          
          
          </dl>
          		 
			 <div class="clear-fix"></div>
			    </div><!-- .content closes -->
			  </li><!-- #item-description closes -->
			  
			  
        <li id="related-items">
          <h2 class="title" data-section-title><a href="#">Related items</a></h2>
          <div class="content" data-section-content>
          

            <h3>related item title</h3>
            <dl>
              <dt>Source name</dt>
              <dd>ketchup</dd>
              
              <dt>Source url</dt>
              <dd><a href="#">some url</a></dd>
              
            </dl>
            
          
          
          </dl>
          		 
			 <div class="clear-fix"></div>
			    </div><!-- .content closes -->
			  </li><!-- #related-items closes -->
			  
			  
			  
			  



 </ul><!-- ul.accordion closes -->
    
    
    
    
    <div class="record-rights" >
<h2>Rights</h2>

<dl>

<dt>Copyright Holder</dt>
<dd></dd>

    <dt>Rights ownership</dt>
    <dd> 
	     % if 'rights' in df_record:
						 ${df_record['rights'][0]}
		 % endif
	 </dd>
	 
	<dt>License</dt>
    <dd> 
	     % if 'license' in df_record:
						 ${df_record['license'][0]}
		 % endif
	 </dd>

<dt>Third party copyright</dt>
<dd></dd>

<dt>Access condition</dt>
<dd></dd>


</dl>
<p class="terms clear-fix"><a href="#">Terms of use</a>
			 <div class="clear-fix"></div>

</div>
    
    
    
        <div class="record-metadata-formats" >
<h2>Alternative metadata formats</h2>

    <ul class="metadatalinks" >    
      <li><a href="#" class="json" >JSON</a></li>
      <li><a href="#"  class="rdf" >RDF/XML</a></li>
      <li><a href="#" class="n-triples" >N-Triples</a></li>
      <li><a href="#" class="n3" >N3</a></li>
      <li><a href="#" class="turtle" >Turtle</a></li>
      <li><a href="#" class="dc" >Dublin Core</a></li>  
    </ul>
</div>
    
    
    
    
    
  </div><!-- .main-col closes -->
  
  <div class="side-col">
  
    <div class="record-status">
    <label>status:</label> <span class="status">Published</span>
    
    </div>
    <div class="panel record-links">
    <h2>Links and Downloads</h2>
    
    <ul>    
      % if 'doi' in df_record:
     	 <li><a href="http://dx.doi.org/${df_record['doi'][0]}">dataset</a></li>
      % else:	
         % if 'relation' in df_record:
      	 	<li><a href="${df_record['relation']}">dataset</a></li>
      	 % endif 
      % endif 
      	 
      <li><a href="#">project website</a></li>
      <li><a href="#">documentation</a></li>
      <li><a href="#">user guide</a></li>
      <li><a href="#">download record as csv</a></li>
      <li><a href="#">QR code</a></li>  
      <li class="shareThis"><a href="#">share this</a></li>  
    </ul>
    
    
    
    
    
    </div>
  
  </div><!-- .side-col closes -->
  

</div><!-- .record-entry closes -->






