<div id="tipsonsearch">
  <div>
  	<p>You can use single terms or phrases in your query. A Single Term is a single  word such as "test" or "hello". 
  	A phrase is a group of words surrounded by double quotes such as "hello dolly".</p>
  	<p> Multiple terms can be combined together with operators such as and *to form a more complex query*</p>
  	<p>For example video- endoscope would find records that contain 'video' but not 'endoscope'. *scope would find records that contain words ending in 'scope'</p>
  	<p. For more information, please see (do we have documentation for the search system? Is it Solr?).
  	<p></p>
  </div>
</div>
