# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>
 
% if message:
	<p><span style="color:red;">${message}</span></p>
% endif

<h1>Contribute a record</h1>

<!--

<div class="row">

			<div class="section-container accordion" data-section="accordion">

<section>
			    <p class="title" data-section-title><a href="#">Section 1</a></p>
			    <div class="content" data-section-content>
			      <p>Content of section 1.</p>
			    </div>

</section>

<section>
			    <p class="title" data-section-title><a href="#">Section 2</a></p>
			    <div class="content" data-section-content>
			      <p>Content of section 2.</p>
			    </div>
</section>
			  
			  
			</div>
			
</div>		-->
			
<form class="abau custom" id="form-contribute" name="form1" method="post" enctype="multipart/form-data" action="/contribute/" accept-charset="UTF-8">
  <div class="section-container accordion" data-section="accordion">

    <div class="radio-set deposit-data" >
	   <p>Do you wish to deposit the Data you are describing in DataBank now, or are you just creating a DataFinder record for the data?</p>
	    <div class="label-field-pair radio inline-stacked wide" >
		  		<input type ="radio" name="deposit_data" value="yes" id="deposit_data_yes" />
		  		<label for="data_format_yes">Deposit data in DataBank (In development)</label>
	    </div>
		<div class="label-field-pair radio inline-stacked wide" >
		        <input type ="radio" name="deposit_data" value="no" id="deposit_data_no" checked />
		        <label for="data_format_no">Create Record only</label>
		</div>		      
    </div>
        
          
      <!--   <fieldset id="deposit_data">    
    	<legend>Data Deposit</legend> 
    	<section>
    	<div class="content" data-section-content>      

    	<label for="deposit_data_file_upload">files(s) to upload</label>
        <input type="file" name = "deposit_data_file_upload" id="deposit_data_file_upload" />
   
        <p class="instruction">Do you wish this data to be embargoed?</p>	       		
		<div class="radio-set" >	       		     		
		<div class="label-field-pair radio inline-stacked" >
			<input name="deposit_data_embargo_options" type ="radio" value="deposit_data_embargo_no" id="deposit_data_embargo_no" /><label for="deposit_data_embargo_no" >no</label>
		</div>
		<div class="label-field-pair radio inline-stacked" >
			<input  name="deposit_data_embargo_options" type ="radio" value="deposit_data_embargo_yes" id="deposit_data_embargo_yes" /><label for="deposit_data_embargo_yes" >yes</label>
			 		     

		</div>     
		
	  <div class="clear-fix"></div>
	    
		<div class="label-field-pair" >   
			<label for="deposit_data_embrago_release_date">release date</label>   
		    <input type="text" name="deposit_data_embrago_release_date" id="deposit_data_embrago_release_date"/>
		</div>
	    <div class="label-field-pair radio inline-stacked" >
			<input name="deposit_data_embargo_options_type" type ="radio" value="deposit_data_embargo_dark" id="deposit_data_embargo_dark" />
			<label for="deposit_data_embargo_dark" >Dark archive (Data never publicly accessible)</label>
		</div>
	    <div class="label-field-pair radio inline-stacked" >
       		<input  name="deposit_data_embargo_options_type" type ="radio" value="deposit_data_embargo_invisible" id="deposit_data_embargo_invisible" />
       		<label for="deposit_data_embargo_invisible" >Invisible archive (neither data nor this record every publicly accessible)</label>
       	</div>	       		
    	<div class="label-field-pair textarea" >
			<label for="deposit_data_embargo_reason" >Reason for embargo or dark/invisible archiving</label>
       		<textarea  name="deposit_data_embargo_reason"  id="deposit_data_embargo_reason" ></textarea>
       	</div>
       	</div>
       	
       		  </div> 
       		  </section>
	</fieldset> -->
    <div class="clear-fix"></div>
    <fieldset> 
    	<legend>Describe your data</legend>
        <fieldset>	       
	    	<div class="label-field-pair" >
			  	<label for="dataset_title" >(*) The title of this dataset as it should appear in a citation (?)
			  	</label>
			  	<input type="text" name="record_title" id="record_title"/>		  	 
		    </div>
           
	        <span for="alt_title">Add more info</span>    
			<img id="title_more_info"  class="round-icon" class="round-icon" src="${ STATIC_URL }/right_circled_arrow.png" alt="More Info" />		

	        <div class="label-field-pair" id="alt_title" style="display:none;" >
	         	<label for="alt_title">Alternative title or sub-title of your dataset</label>    
	   		 	<input type="text" name="alt_title" id="alt_title"/>
	        </div>   
    	</fieldset>
    	
    	<fieldset>
			    <div class="label-field-pair" >
			          <label for="data_description">Abstract or short description of your dataset </label>   
			          <input type="text" name="data_description" id="data_description"/>
			    </div>	
		    	<span for="alt_title">Add more info</span>    
				<img id="project_more_info"  class="round-icon"  class="round-icon" src="${ STATIC_URL }/right_circled_arrow.png" alt="More Project Info" />   
			    <div id="proj_info" style="display:none;">  
		        	<!-- <div class="label-field-pair" >
		          		  <label for="data_process">By what process was the data assembled/generated? </label>
		           		 <input type="text" name="data_process" id="data_process"/>
		        	</div>   -->   
		        	<div class="label-field-pair" >
		          		  <label for="project_name">Name of your project/research activity </label>
		          		  <input type="text" name="project_name" id="project_name"/>
		        	</div>  
		         	<div class="label-field-pair" >
		          		  <label for="project_desc">Description of your project/research activity </label>
		          		  <input type="text" name="project_desc" id="project_desc"/>
		        	</div>       
		            <div class="label-field-pair" >
		            	<label for="project_website">URL of your project/research activity website </label>
		            	<input type="text" name="project_website" id="project_website"/>
		        	</div>
				</div> 
		</fieldset>
		
		<fieldset>
	        <div class="label-field-pair ui-widget inline-stacked subject_area_repeatable" >
	            <label for="subject_area_1">Subject Area(s)</label>
	            <input type="text" class="subject_area" name="subject_area" id="subject_area_1"/>
	            <img id="subject_add_more_1"  class="round-icon" src="${ STATIC_URL }/gplus.png" alt="Add More Subjects" />
	        </div>
	        <div class="label-field-pair inline-stacked" >
		        <span for="alt_title">Add more info</span>    
				<img id="subject_more_info"  class="round-icon" src="${ STATIC_URL }/right_circled_arrow.png" alt="More Subject Info" />
			</div>
			<div id="subj_info" style="display:none;">    
		        <div class="label-field-pair inline-stacked keywords_repeatable" >
		        	<label for="record_keywords_1">Keyword(s)</label>
		        	<input type="text" name="record_keyword" id="record_keywords_1"/>
		        	<img id="keyword_add_more_1"  class="round-icon" src="${ STATIC_URL }/gplus.png" alt="Add More Keywords" />
		        </div>	        
		        <div class="label-field-pair inline-stacked" >
		            <label for="main_language">What is the predominant language of the dataset ?</label>
		        	<input type="text" name="main_language" id="main_language" value="English"/>
		        </div>
		    </div>
        </fieldset>               
    </fieldset>
    
    
    <fieldset id="creators-contributors" >
		<legend>Data creators &amp; contributors</legend>
		<p class="instruction">Please name the authors of the data being deposited</p>
		<div class="person_repeatable panel">			 
			<div class="form-button">
				  <img id="person_add_more_1" src="${ STATIC_URL }/gplus.png" alt="Add Author" class="right">
		    </div>
		    <div class="label-field-pair inline-stacked" >
			    <label for="author_mof_1">Member of oxford ?</label>           
			    <input type="checkbox"  name="author_mof_1" id="author_mof_1" checked="checked"/>            
		    </div>
		    <div class="label-field-pair stacked-inline" >
			    <label for="author_lastname_1">Family Name</label>           
			    <input type="text" size="40" name="author_lastname_1" id="author_lastname_1"/>            
		    </div>
			<div class="label-field-pair stacked-inline" >
	    	    <label for="author_firstname_1">Given Name</label>
		        <input type="text" size="40" name="author_firstname_1" id="author_firstname_1"/>
		    </div>
		    <div class="label-field-pair stacked-inline" >
			    <label for="author_middlename_1">Middle Name/Initial(s)</label>           
			    <input type="text" size="30" name="author_middlename_1" id="author_middlename_1"/>            
		    </div>
		    <div class="clear-fix"></div> 	
		    <div class="label-field-pair  inline-stacked" >
			    <label for="author_middlename_check_1">The middle name will not be displayed unless this box is checked </label>           
			    <input type="checkbox"  name="author_middlename_check_1" id="author_middlename_check_1" value="yes" />            
		    </div>
		    <div class="clear-fix"></div> 	
		    <div class="label-field-pair stacked-inline" >
		        <label for="author_email_1">Email</label>
		        <input type="text" size="40" name="author_email_1" id="author_email_1"/>
			</div>	

			<div class="label-field-pair stacked-inline" >
		        <label for="author_role_1">Role</label>
		        <!-- <input type="text"  size="40" name="author_role_1" id="author_role_1"/> -->
		        <select name="author_role_1" id="author_role_1">                         
						<option value="Author">Author</option>
						<option value="Collaborator">Collaborator</option>
						<option value="Commentator">Commentator</option>
						<option value="Creator">Creator</option>
						<option value="Contributor">Contributor</option>
						<option value="Other">Other</option>
						<option value="Owner">Owner</option>
						<option value="Publisher">Publisher</option>
						<option value="Performer">Performer</option>
						<option value="Principal Investigator">Principal Investigator</option>
						<option value="Researcher">Researcher</option>
						<option value="Research team head">Research team head</option>
						<option value="Translator">Translator</option>
						<option value="Adapter">Adapter</option>
						<option value="Editor">Editor</option>
						<option value="Reviewer">Reviewer</option>
						<option value="Funder">Funder</option>
						<option value="Copyright holder">Copyright holder</option>
						<option value="Supervisor">Supervisor</option>
						<option value="Sponsor">Sponsor</option>
				</select>	
			</div>	

			<div class="label-field-pair inline-stacked" >
		        <label for="author_affiliation_1">Affiliation :</label>
		    </div>      
		    <div class="clear-fix"></div> 	
		    <div class="label-field-pair stacked-inline"  id="author_institution_text_div_1" style="display:none;">
		        <label for="author_institution_text_1">Instititution</label>
		        <input type="text" size="30" name="author_institution_text_1" id="author_institution_text_1" />
		    </div>
		    <div class="label-field-pair stacked-inline"  id="author_institution_select_div_1">
		        <label for="author_institution_1">Instititution</label> 
		        <select name="author_institution_1" id="author_institution_1"><option></option> </select>
		    </div>
		    <div class="label-field-pair stacked-inline" >
		        <label for="author_faculty_1">Faculty</label>
		        <input type="text" size="30" name="author_faculty_1" id="author_faculty_1"/> 
		    </div>
		    <div id="author_oxford_college_1" class="label-field-pair stacked-inline" >
		        <label for="author_oxfordcollege_1">Oxford College</label>
		        <input type="text" size="30" name="author_oxfordcollege_1" id="author_oxfordcollege_1"/> 
		    </div>
			<!-- <div class="form-button">
		        <input type="submit" name="add_author" id="add_author" value="add author"/>
		    </div> -->
		        
		    <div class="label-field-pair inline-stacked" >
		        <label>Author ID</label>
		     </div>
		     <div class="clear-fix"></div> 
		    <div class="label-field-pair stacked-inline" >
		        <label for="author_id_1"></label>
		       	<select name="author_scheme_1" id="author_scheme_1">		        
					<option> HESA ID </option>
					<option> ISNI    </option>
					<option> OpenID  </option>
					<option> ORCID   </option>
					<option> Researcher ID </option>
					<option> VIAF          </option>
					<option> Institutional person identifier scheme </option>
					<option> Funder person identifier scheme        </option>
					<option> Other (please specify)                 </option>		        
				</select>		
		    </div>
		    <div class="label-field-pair stacked-inline" >
		        <label for="author_scheme_1"></label>
		        <input type="text" size="30" name="author_id_1" id="author_id_1"/> 
		
		    </div>
		</div>
    </fieldset>

    
    <fieldset class="contacts" >
    	<legend>Data Steward</legend>
    	<p class="instruction">Who should we contact in future with information and updates about the data you are depositing? 
	    	             (this will normally be your department or research group)</p>	
	    	<div class="radio-set" >
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input name="person_or_role" type ="radio" value="is_person" id="is_person"  checked="checked"/>
	       			<label for="person">Named Person</label>
	       		</div> 
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="person_or_role" type ="radio" value="is_role" id="is_role" />
	       			<label for="role">Role</label>
	       		</div>
	       	</div>  
	       	<div class="clear-fix"></div> 
		    <div class="label-field-pair inline-stacked" >
			    <label for="contact_mof">Member of oxford ?</label>           
			    <input type="checkbox"  name="contact_mof" id="contact_mof" checked="checked"/>            
		    </div>
	       	    <div class="clear-fix"></div> 
	        <div name="name_details" id="name_details">  
			    <div class="label-field-pair stacked-inline" >
				    <label for="contact_lastname">Family Name</label>           
				    <input type="text" size="40" name="contact_lastname" id="contact_lastname"/>            
			    </div>
				<div class="label-field-pair stacked-inline" >
		    	    <label for="contact_firstname">Given Name</label>
			        <input type="text" size="40" name="contact_firstname" id="contact_firstname"/>
			    </div>
			    <div class="label-field-pair stacked-inline" >
				    <label for="contact_middlename">Middle Name/Initial(s)</label>           
				    <input type="text" size="30" name="contact_middlename" id="contact_middlename"/>            
			    </div>
	            <div class="clear-fix"></div> 	
			    <div class="label-field-pair  inline-stacked" >
				    <label for="contact_middlename_check">The middle name will not be displayed unless this box is checked </label>           
				    <input type="checkbox"  name="contact_middlename_check" id="contact_middlename_check" value="yes" />            
			    </div>
			</div>
		    <div class="clear-fix"></div> 	 	
		    <div class="label-field-pair stacked-inline" >
		        <label for="contact_email">Email</label>
		        <input type="text" size="40" name="contact_email" id="contact_email"/>
			</div>	

			<div class="label-field-pair stacked-inline" >
		        <label for="contact_role">Role</label>
		        <!-- <input type="text"  size="40" name="contact_role" id="contact_role"/> -->
		        <select name="contact_role" id="contact_role">                         
						<option value="Author">Author</option>
						<option value="Collaborator">Collaborator</option>
						<option value="Commentator">Commentator</option>
						<option value="Creator">Creator</option>
						<option value="Contributor">Contributor</option>
						<option value="Other">Other</option>
						<option value="Owner">Owner</option>
						<option value="Publisher">Publisher</option>
						<option value="Performer">Performer</option>
						<option value="Principal Investigator">Principal Investigator</option>
						<option value="Researcher">Researcher</option>
						<option value="Research team head">Research team head</option>
						<option value="Translator">Translator</option>
						<option value="Adapter">Adapter</option>
						<option value="Editor">Editor</option>
						<option value="Reviewer">Reviewer</option>
						<option value="Funder"></option>
						<option value="Copyright holder">Copyright holder</option>
						<option value="Supervisor">Supervisor</option>
						<option value="Sponsor">Sponsor</option>
				</select>	
			</div>	      
		    <div class="label-field-pair inline-stacked" >
		        <label for="contact_affiliation">Affiliation :</label>
		    </div>      
		    <div class="clear-fix"></div> 	
		    <div class="label-field-pair stacked-inline" name="contact_institution_text_div" id="contact_institution_text_div" style="display:none;">
		        <label for="contact_institution">Instititution</label>
		        <input type="text" size="30" name="contact_institution_text" id="contact_institution_text" />
		    </div>
		    <div class="label-field-pair stacked-inline" name="contact_institution_select_div" id="contact_institution_select_div">
		        <label for="contact_institution">Instititution</label>
		        <select name="contact_institution" id="contact_institution"><option></option> </select>
		    </div>
		    <div class="label-field-pair stacked-inline" >
		        <label for="contact_faculty">Faculty</label>
		        <input type="text" size="30" name="contact_faculty" id="contact_faculty"/> 
		    </div>
		    <div name="oxford_college" id="oxford_college" class="label-field-pair stacked-inline" >
		        <label for="contact_oxfordcollege">Oxford College</label>
		        <input type="text" size="30" name="contact_oxfordcollege" id="contact_oxfordcollege"/> 
		    </div>
			<!-- <div class="form-button">
		        <input type="submit" name="add_contact" id="add_contact" value="add contact"/>
		    </div> -->
		    
		    <div name="contact" id="contact">    
			    <div class="label-field-pair inline-stacked" >
			        <label>Contact ID</label>
			     </div>
			     <div class="clear-fix"></div> 
			    <div class="label-field-pair stacked-inline" >
			        <label for="contact_id"></label>
			       	<select name="contact_scheme" id="contact_scheme">		        
						<option> HESA ID </option>
						<option> ISNI    </option>
						<option> OpenID  </option>
						<option> ORCID   </option>
						<option> Researcher ID </option>
						<option> VIAF          </option>
						<option> Institutional person identifier scheme </option>
						<option> Funder person identifier scheme        </option>
						<option> Other (please specify)                 </option>		        
					</select>		
			    </div>
			    <div class="label-field-pair stacked-inline" >
			        <label for="contact_scheme"></label>
			        <input type="text" size="30" name="contact_id" id="contact_id"/> 	
			    </div>
			</div>
		    <div class="clear-fix"></div> 	          
    </fieldset>
    
    
    <fieldset class="contacts" >
    	<legend>About your data</legend>
          <div class="radio-set" >
	    	  <div    class="label-field-pair radio inline-stacked">Is your data in digital format?</div>
	    	  <div class="label-field-pair radio short_desc inline-stacked" >
		  		  	<input type ="radio" name="data-format" value="yes" id="data_format_yes" checked />
		  		  	<label for="data_format_yes">yes</label>
	  		  </div>
		      <div class="label-field-pair radio short_desc inline-stacked" >
		      		<input type ="radio" name="data-format" value="no" id="data_format_no" />
		      		<label for="data_format_no">no</label>
		      </div>
		     <!-- <div class="label-field-pair" >
	            	<label id="digital_location_label" for="data_location">Location of data</label>
	            	<label id="non_digital_location_label" for="whereis_non_digital" style="display:none;">Where is your data held? Provide the address of the location 
	       			of your data or the contact details of the person to contact to enquire about the data. </label>
		        	<input type="text" name="data_location" id="data_location"/>
		      </div> -->
		      <div class="label-field-pair" >
			        <div class="radio-set" >
			        	<div class="eight columns label-field-pair radio inline-stacked" >
			        			<span id="digital_location_label">Location of data</span>
			        		    <span id="non_digital_location_label"  style="display:none;">Where are your data held? Provide the address of the location 
	       			of your data or the contact details of the person to contact to enquire about the data. </span>
			         	</div>
				        <div class="two columns label-field-pair radio short_desc inline-stacked" >
					  		  <input type ="radio" name="loc-format" value="text" id="loc_format_text" checked />
					  		  <label for="Text">Text</label>
			  		 	</div>	  		 		      
			  		 	<div class="two colummns label-field-pair radio short_desc inline-stacked" >
					      	<input type ="radio" name="loc-format" value="URL" id="loc_format_url" />
					      	<label for="url">URL</label>
				      	</div>
				    </div>
		        	<input type="text" name="data_location" id="data_location"/>
		      </div>		 
		      <div class="label-field-pair" >
			        <div class="radio-set" >
			        	<div class="eight columns label-field-pair radio inline-stacked" >
			        			Description about dataset and processes: when and why the data were gathered 
			         	</div>
				        <div class="two columns label-field-pair radio short_desc inline-stacked" >
					  		  <input type ="radio" name="doc-format" value="text" id="doc_format_text" checked />
					  		  <label for="Text">Text</label>
			  		 	</div>	  		 		      
			  		 	<div class="two colummns label-field-pair radio short_desc inline-stacked" >
					      	<input type ="radio" name="doc-format" value="URL" id="doc_format_url" />
					      	<label for="url">URL</label>
				      	</div>
				    </div>
		        	<input type="text" name="digital_publisher_doc" id="digital_publisher_doc"/>
		      </div>		 
		      		      
		      <div class=" label-field-pair inline-stacked" >
		        	<label for="publisher">Publisher</label>
		        	<input type="text" name="publisher" value="University of Oxford" id="publisher"/>
		      </div>		
		      <p>&nbsp;</p>		      		      	        
		      <div class="row label-field-pair inline-stacked " style="position:absolute; background: #f7fafd; ">
		       		<div class="eight columns"><label for="publication_year">Publication year</label></div>
		       		<div class="four columns"><select  name="publication_year" id="publication_year"></select></div>				
		      </div>
		      <p>&nbsp;</p>
		      <p>&nbsp;</p>
		      <div class="row label-field-pair inline-stacked"  style="background: #f7fafd;">
			       	<div class="twelve columns"><span for="alt_title">Add more info</span>    
				    <img id="data_more_info" class="round-icon" src="${ STATIC_URL }/right_circled_arrow.png" alt="More Data Info" /></div>
			  </div>		      <p>&nbsp;</p>				      
		  </div>
   
	<div name="more_about_data" id="more_about_data" style="display:none;" >		        	       
				    <div class="label-field-pair" >
				           <label for="digital_object_identifier">Unique identifier assigned to your dataset (Eg: DOI)</label>
				           <input type="text" name="digital_object_identifier" id="digital_object_identifier"/>
				    </div>
				        
					<div class="radio-set" >
				           <div class="six columns label-field-pair radio inline-stacked" >Temporal coverage of your data</div>
				    	   <div class="three columns label-field-pair radio short_desc inline-stacked wide" >
				    	        <input type ="radio" name="temporal_choice" value="single_date" id="single_date"  checked/>
				    	        <label for="temporal_choice" >Single Date</label>
				    	   </div>
				    	   <div class="three columns label-field-pair radio short_desc inline-stacked wide" >  
				    	   		<input type ="radio" name="temporal_choice" value="date_range" id="date_range"  />
				    	   		<label for="temporal_choice" >Date Range</label>
				    	   </div>
				    </div>		  
				    <div id="single_temporal_date_block" >
					    	   <div class="clear-fix"></div>
							   <div class="label-field-pair inline-stacked" >
							            <label for="temporal_date">Date:</label>
							            <input type="text" name="single_temporal_date" id="single_temporal_date"/>
						       </div>
			        </div>
			        <div id="date_range_temporal_block" style="display:none;" >
					    	   <div class="clear-fix"></div>
							   <div class="label-field-pair inline-stacked" >
							            <label for="temporal_date">Start Date:</label>
							            <input type="text" name="start_date_range" id="start_date_range"/>
						       </div>
						       <div class="label-field-pair inline-stacked" >
							            <label for="temporal_date">End Date:</label>
							            <input type="text" name="end_date_range" id="end_date_range"/>
						       </div>
			        </div>			        
			        
			        <div class="radio-set" >
			              <div class="six columns label-field-pair radio inline-stacked">Date when the data were collected</div>
				    	  <div class="three columns label-field-pair radio short_desc inline-stacked wide" >
				    	        <input type ="radio" name="data_collected_temporal_choice" value="data_collected_single_date" id="data_collected_single_date"  checked/>
				    	        <label for="data_collected_" >Single Date</label>
				    	  </div>
				    	  <div class="three columns label-field-pair radio short_desc inline-stacked wide" >  
				    	   		<input type ="radio" name="data_collected_temporal_choice" value="data_collected_date_range" id="data_collected_date_range"  />
				    	   		<label for="data_collected_" >Date Range</label>
				    	  </div>
			        </div>	
			        
			        <div id="data_collected_single_temporal_date_block" >
					    	   <div class="clear-fix"></div>
							   <div class="label-field-pair inline-stacked" >
							            <label for="data_collected_temporal_date">Date:</label>
							            <input type="text" name="data_collected_single_temporal_date" id="data_collected_single_temporal_date"/>
						       </div>
			        </div>
			        <div id="data_collected_date_range_temporal_block" style="display:none;" >
					    	   <div class="clear-fix"></div>
							   <div class="label-field-pair inline-stacked" >
							            <label for="data_collected_temporal_date">Start Date:</label>
							            <input type="text" name="data_collected_start_date_range" id="data_collected_start_date_range"/>
						       </div>
						       <div class="label-field-pair inline-stacked" >
							            <label for="data_collected_temporal_date">End Date:</label>
							            <input type="text" name="data_collected_end_date_range" id="data_collected_end_date_range"/>
						       </div>
			        </div>			  
			           
			        <div class="label-field-pair  inline-stacked" >
			        	<label for="geo_location">Geographical location/coverage of the data</label>
			        	<input type="text" name="geo_location" id="geo_location"/>
			        </div>			        	
			        	<img id="google_img"  src="${ STATIC_URL }/powered-by-google-on-white.png" alt="Powered by Google" />
			        
			        <div class="label-field-pair inline-stacked" >
			        	<label for="lat">Latitude</label>
			        	<input type="text" name="lat" id="lat" data-geo="lat"/>
			        </div>
			        <div class="label-field-pair inline-stacked" >
			        	<label for="lng">Longitude</label>
			        	<input type="text" name="lng" id="lng"  data-geo="lng"/>
			        </div>
			        
			        <div class="map_canvas" style="position: relative; background-color:rgb(229, 227, 223); overflow:hidden; "></div>
			        <a id="reset" style="display: none;" href="#">
					      Reset Marker
					</a>
			        <div class="label-field-pair inline-stacked" >
			        	<label for="digital_resource_type">What is the predominant type of your dataset?</label>
			        	<input type="text" name="digital_resource_type" id="digital_resource_type"/>
			        </div>
			        
			        <div class="label-field-pair inline-stacked" >
			        	<label for="digital_filesize"> What is the approximate filesize of your dataset?</label>
			        	<input type="text" name="digital_filesize" id="digital_filesize"/>
			        </div>
			            
			        <div class="label-field-pair inline-stacked" >
			        	<label for="digital_format">File format</label>
			        	<input type="text" name="digital_format" id="digital_format"/>
			        </div>
			        
			        <div class="label-field-pair inline-stacked" >
			        	<label for="digital_version">What is the version number of this dataset?</label>
			        	<input type="text" name="digital_version" id="digital_version"/>
			        </div		       		       
	</div> 
</fieldset>	           	 
	                 	       
	<fieldset id="funding-information" >
		   <legend>Funding information</legend>	 
	       <div class="radio-set" >
	           <div class="label-field-pair radio inline-stacked" >Are your data an output of funded research?</div>
	    	   <div class="label-field-pair radio short_desc inline-stacked" >
	    	        <input type ="radio" name="funded_research" value="yes" id="funded_research_yes"  />
	    	        <label for="funded_research_yes" >yes</label>
	    	   </div>
	    	   <div class="label-field-pair radio short_desc inline-stacked" >  
	    	   		<input type ="radio" name="funded_research" value="no" id="funded_research_no" checked />
	    	   		<label for="funded_research_no" >no</label>
	    	   </div>
	    	    <!-- <div class="clear-fix"></div> -->
		   </div>
		  
		 <div id="fund_and_grant"  style="display:none; " >
			    <div class="funding_repeatable">
			    	   <div class="clear-fix"></div>
					   <div class="label-field-pair stacked-inline" >
					            <label for="funding_agency_1">Funding agency:</label>
					            <input type="text" size="50" name="funding_agency" id="funding_agency_1"/>
				       </div>
				       <div class="label-field-pair stacked-inline" >
					            <label for="grant_number_1">Grant/Award number:</label>
					            <input type="text" name="grant_number" id="grant_number_1"/>
				       </div>		
				       
					   <img id="funding_add_more_1"  class="round-icon" src="${ STATIC_URL }/gplus.png" alt="Add More Funding" />				      
			    </div>

	      </div>
	</fieldset>
       
	           
	<fieldset id="data_management">
	       <legend>Related information</legend>	
	       <div class="label-field-pair inline-stacked" >
			       	<span for="alt_title">Add more info</span>    
				    <img id="related_more_info"  class="round-icon" src="${ STATIC_URL }/right_circled_arrow.png" alt="More Related Info" />
		   </div>			
		   <div id="related_info" style="display:none;">
		   
		    <div class="label-field-pair" >
			        <div class="radio-set" >
			        	<div class="eight columns label-field-pair radio inline-stacked" >
			        			<span>If you have a Data management Plan for the project for which this data was created, 
		        	      please enter the location where it can be accessed here:</span>
			         	</div>
				        <div class="two columns label-field-pair radio short_desc inline-stacked" >
					  		  <input type ="radio" name="dmp_loc" value="text" id="dmp_loc_text" checked />
					  		  <label for="Text">Text</label>
			  		 	</div>	  		 		      
			  		 	<div class="two colummns label-field-pair radio short_desc inline-stacked" >
					      	<input type ="radio" name="dmp_loc" value="URL" id="dmp_loc_url" />
					      	<label for="url">URL</label>
				      	</div>
				    </div>
		        	<input type="text" name="data_management_plan_location" id="data_management_plan_location"/>
		      </div>		 
		       	 	       
		      <!-- <div class="label-field-pair full-width" >
		       		<label for="data_management_plan_location">If you have a Data management Plan for the project for which this data was created, 
		        	      please enter the location where it can be accessed here:</label>
		            <input type="text" name="data_management_plan_location" id="data_management_plan_location"/>
		       </div>  --> 
		       
			   <p class="instructions">If you are aware of any publications based  on this data, please add references to them here:</p>
			   <div  class="publication_repeatable panel" >
					    <!-- <div class="label-field-pair stacked-inline" >
					   						<label for="publication_relationship_of_data_1">Relationship of Data</label>
				            	            <select  name="publication_relationship_of_data_1" id="publication_relationship_of_data_1">                         
												     <option value="HasPart">HasPart</option>
												     <option value="isPartOf">isPartOf</option>
												     <option value="Otherversion">Otherversion</option>
												     <option value="isVersionOf">isVersionOf</option>
												     <option value="hasVersion">hasVersion</option>
												     <option value="isFormatOf">isFormatOf</option>
												     <option value="hasFormat">hasFormat</option>
												     <option value="References">References</option>
												     <option value="isReferencedBy">isReferencedBy</option>
												     <option value="Replaces">Replaces</option>
												     <option value="IsReplacedBy">IsReplacedBy</option>
												     <option value="Requires">Requires</option>
												     <option value="IsRequiredBy">IsRequiredBy</option>
				            	            </select>		
				            </div> -->
				        <div class="radio-set" >
						    	   <div class="label-field-pair radio short_desc stacked-inline" >
						    	        <input type ="radio" name="publication_format" value="URL" id="pub_url_1"  />
						    	        <label for="pub_url" >URL</label>
						    	   </div>
						    	   <div class="label-field-pair radio short_desc stacked-inline" >  
						    	   		<input type ="radio" name="publication_format" value="DOI" id="pub_doi_1" checked />
						    	   		<label for="pub_doi" >DOI</label>
						    	   </div>
						    	   <!-- <div class="clear-fix"></div> -->
							       <div class="label-field-pair stacked-inline-wide" >
							       		<label for="related_publication_url_1"></label>       		
							            <input type="text" class="url" name="related_publication_url_1" id="related_publication_url_1"/>		
							       </div>
					    </div>
				   <img id="publication_add_more_1"  class="round-icon" src="${ STATIC_URL }/gplus.png" alt="Add More Publication" />	 
				   <div class="clear-fix"></div>   
			   </div>
			   <!-- <div class="form-button">
			   		<input type="submit" name="add_publication" id="add_publication" value="add publication"/>
			   </div> -->
			   <div class="clear-fix"></div>
		       <p class="instructions">If these data were based on any other datasets, or are in some way related to other datasets, please add references to them here:</p>
	  		   <div  class="dataset_repeatable panel" >
		  		   <div class="label-field-pair stacked-inline" >
		  		   		<label for="dataset_relationship_of_data_1">Relationship of Data</label>
			            <select  type="text"  name="dataset_relationship_of_data_1" id="dataset_relationship_of_data_1">                         
											     <option value="HasPart">HasPart</option>
											     <option value="isPartOf">isPartOf</option>
											     <option value="Otherversion">Otherversion</option>
											     <option value="isVersionOf">isVersionOf</option>
											     <option value="hasVersion">hasVersion</option>
											     <option value="isFormatOf">isFormatOf</option>
											     <option value="hasFormat">hasFormat</option>
											     <option value="References">References</option>
											     <option value="isReferencedBy">isReferencedBy</option>
											     <option value="Replaces">Replaces</option>
											     <option value="IsReplacedBy">IsReplacedBy</option>
											     <option value="Requires">Requires</option>
											     <option value="IsRequiredBy">IsRequiredBy</option>
		           		 </select>
			       </div>
		       	   <div class="radio-set" >
			    	   <div class="label-field-pair radio short_desc stacked-inline" >
			    	        <input type ="radio" name="dataset_format" value="URL" id="dat_url_1"  />
			    	        <label for="pub_url" >URL</label>
			    	   </div>
			    	   <div class="label-field-pair radio short_desc stacked-inline" >  
			    	   		<input type ="radio" name="dataset_format" value="DOI" id="dat_doi_1" checked />
			    	   		<label for="pub_doi" >DOI</label>
			    	   </div>
			    	   <!-- <div class="clear-fix"></div> -->
				       <div class="label-field-pair radio stacked-inline-wide" >
				       		<label for="dataset_related_url_1"></label>
				            <input type="text"  class="url" name="dataset_related_url_1" id="dataset_related_url_1"/>
				       </div>			       
		          </div>
		          <img id="dataset_add_more_1"  class="round-icon" src="${ STATIC_URL }/gplus.png" alt="Add More Datasets" />	
		          <div class="clear-fix"></div>
		       </div>  	
		       <!-- <div class="form-button">
				       		<input type="submit" name="add_dataset" id="add_dataset" value="add dataset"/>
		       </div> -->
		   </div>            
	</fieldset>
	       
	<fieldset>
			<legend>Access terms &amp; conditions</legend>
	       <div class="label-field-pair" >
	       <label for="terms_and_conditions">Please enter any terms and conditions regarding access to your data here:</label>	       
	       <input type="text" name="terms_and_conditions" id="terms_and_conditions"/></div>	     
	       <div class="radio-set" >
	       		<p class="instruction">If your data is available under a standard license, please name the license here:</p>	       		
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input name="license_radio" type ="radio" value="prepared_licence" id="prepared_licence" />
	       			<label for="prepared_licence" >URL</label>
	       		</div> 
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="license_radio" type ="radio" value="select_a_licence" id="select_a_licence" checked="checked" />
	       			<label for="select_a_licence" >Select from dropdown</label>
	       		</div>
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="license_radio" type ="radio" value="bespoke_licence" id="bespoke_licence" />
	       			<label for="bespoke_licence" >Insert text</label>
	       		</div>
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="license_radio" type ="radio" value="other_licence" id="other_licence" />
	       			<label for="other_licence" >Other</label>
	       		</div>
	       	</div>  
		
	       <div class="label-field-pair" id="data_standard_licence_select_block" ">
	       		<label for="data_standard_licence"></label>
			    <select  type="text"  name="data_standard_licence" id="data_standard_licence" style="display:none;">                         
	       		<!-- <input type="text" name="data_standard_licence" id="data_standard_licence"/> -->
					   <option value="http://creativecommons.org/choose/zero/" >CC0 (CC Zero)</option>				       
					   <option value="http://opendatacommons.org/licenses/by/">Open Data Commons Attribution Licence (ODC-By)</option>
					   <option value="http://opendatacommons.org/licenses/odbl/" >Open Data Commons Open Database Licence (ODC-ODbL)</option>
					   <option value="http://opendatacommons.org/licenses/pddl/ " >Open Data Commons Public Domain Dedication and License (PDDL)</option>
					   <option value="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" >Open Government Licence (OGL)</option>
					   <option value="http://www.nationalarchives.gov.uk/doc/non-commercial-government-licence/ " >OGL non commercial</option>  		
				</select>	       		      		
	       	</div>

	       <div class="label-field-pair"  id="data_standard_licence_URL_block"   >
		       <label for="data_standard_licence_URI">URL</label>	       
		       <input type="text" name="data_standard_licence_URI" id="data_standard_licence_URI"/>
	       </div>	
  
	       <div id="data_standard_licence_text_block" class="label-field-pair" style="display:none;" >
		       <label for="data_standard_licence_text"></label>	       
		       <input type="text" name="data_standard_licence_text" id="data_standard_licence_text"/>
	       </div>	
	       
	       <div class="radio-set" >
	       		<p class="instruction">What is the earliest date your data can be accessed?</p>	       		
	       		<!-- <div class="label-field-pair radio inline-stacked wide" >
	       			<input name="embargo-options" type ="radio" value="embargo_not_under" id="embargo_not_under" />
	       			<label for="embargo_not_under" >Data not under embargo</label>
	       		</div> -->
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="embargo-options" type ="radio" value="embargo_status_unknown" id="embargo_status_unknown" />
	       			<label for="embargo_status_unknown" >Embargo status unknown</label>
	       		</div>
	       		<div class="label-field-pair radio inline-stacked wide" >
	       			<input  name="embargo-options" type ="radio" value="embargoed_indefinitely" id="embargoed_indefinitely" />
	       			<label for="embargoed_indefinitely" >Embargoed indefinitely</label>
	       		</div>
	       		
	       		<!-- <div class="label-field-pair radio inline-stacked wide" ><input  name="embargo-options" type ="radio" value="embargoed_until" id="embargoed_until" />
	       			<label for="embargoed_until" >Embargoed until</label>	
	       		</div>  -->
	       		
	       		 <!--  <div class="clear-fix"></div>   --> 		
                <label for="embargo_end_date" id="embargo_end_date_label">Earliest Access date:</label>
				<input type="text" name="embargo_end_date" id="embargo_end_date" />	       
	       	</div>
	</fieldset>
	       
	       
	<fieldset>
			<legend>Subject-Specific metadata</legend>
			<p class="instruction" >If you have any disciplinary-specialist metadata describing your data (eg: DDI), 
	       		you may include it in this data finder record. The metadata should be in XML format.
	       		<a href=""> ADD EMAIL ADDRESS</a>
	       	</p>
		    <div class="label-field-pair" >
		       		<label for="subject_specific_metadata_file"> File to upload: </label>
		       		<input type="file" name="subject_specific_metadata_file" id="subject_specific_metadata_file"  /> 
	        </div>
		    <div class="label-field-pair inline-stacked" >
		       		<label for="xml_schema_type">xml schema type</label>
		       		<input type="text" name="xml_schema_type" id="xml_schema_type"/>
	       	</div>
	</fieldset>
	       
      <div class="form-button">         	            
      		<input type="submit" name="submit_for_approval" id="submit_for_approval" value="submit for approval"/>	 
      		<input type="submit" name="save_as_a_draft" id="save_as_a_draft" value="save as a draft"/>
      </div>	 
  </div><!-- .section-container.accordion  closes--> 

</form>
