# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>DataFinder:About</title>
</%def>


<div class="row"><div class="four columns centered"><h4>About DataFinder</h4></div></div>

<div class="row">
<p
	DataFinder will be the University of Oxford's catalogue of research data produced by members of the University. 
	It will enable datasets to be cited and discovered whatever their location and irrespective of whether data are accessible. 
	Development is continuing on this key strategic service. 
	A full service will be offered once development is complete later in 2013 and dependent on funding.
</p>
<p>
  DataFinder is an online catalogue of data produced as a result of research by scholars at the University of Oxford.
  Use DataFinder to search for datasets.
  Datasets might comprise numerical data, images, audio, text corpus, computational data, or other form. 
</p>
<h5>Use Data Finder to:</h5>
<ul>
<li><b>Search and Browse</b> for Oxford datasets</li>
<li><b>Assess</b> the relevance of the dataset to your needs: 
    many records include a description and descriptive terms about the dataset. </li>
<li> <b>Locate</b> Data might be in digital or physical format. 
  DataFinder will provide details of how to locate the data whatever the format.
 It might provide a URL directly to the source of the data or contact details to request access to the dataset. 
Datasets are not necessarily located within the University of Oxford.  </li>
<li><b>Access</b> datasets (where permitted). 
Finding details of a dataset via DataFinder does not guarantee access to that dataset:
 each dataset will have its own access terms and conditions. </li>
</ul>

<p>
DataFinder was developed with funding generously provided by JISC. DataFinder is managed and maintained by the Bodleian Libraries. It was developed in collaboration with IT Services and Research Services.
</p>
</div>
