# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:Accessibility</title>
</%def>


<div class="row"><div class="two columns centered"><h4>Accessibility</h4></div></div>

<div class="row">
<p>This will need some thought, but at least the following we can claim:</p>
<p><h5>Navigation aids</h5>
The site uses a consistent navigation system visually located at the top of the page.
<p/>
<p><h5>Tables</h5>
Tables are used to display tabular information only T he content of the page is contained in semantically labelled 'div elements.
<p/>
<p><h5>Images</h5>
Images include descriptive ALT attributes. Purely decorative graphics would include null ALT attributes.
<p/>
<p><h5>Visual design</h5>
This site uses cascading style sheets for visual layout. If your browser or browsing device does not support style sheets at all, the content of each page is still readable. The website uses a layout scheme that allows the scale of the page to be increased by increasing the text size in visual browsers for the visually-impaired.
<p/>
</div>
