# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>DataFinder:Accessibility</title>
</%def>


<div class="row"><div class="two columns centered"><h4>Accessibility</h4></div></div>

<div class="row">
<p>
 This is the accessibility statement for the Oxford University Libraries website.
 It covers the main site at
  <a href="https://datafinder-d2v.bodleian.ox.ac.uk/home/">https://datafinder-d2v.bodleian.ox.ac.uk/home/</a>
  and <DataReporter>. 
 Other sites which are linked from the top level are not covered by this statement.
 Work is continuing to further improve the accessibility and usability of the site.

If you have any questions or comments about the accessibility of this site, please 
<a href="/contact">contact</a> us </p>
<h5>Navigation aids</h5>
<p>The site uses a consistent navigation system visually located at the top of the page.</p>
<h5>Tables</h5>
<p>Tables are used to display tabular information only T he content of the page is contained in semantically labelled 'div elements.
</p>
<h5>Images</h5>
<p>Images include descriptive ALT attributes. Purely decorative graphics would include null ALT attributes.
</p>
<h5>Visual design</h5>
<p>This site uses cascading style sheets for visual layout. If your browser or browsing device does not support style sheets at all, the content of each page is still readable. The website uses a layout scheme that allows the scale of the page to be increased by increasing the text size in visual browsers for the visually-impaired.
</p>
<p>
See also the central <a href="http://www.ox.ac.uk/web/accessibility.html">Oxford University's Web Accessibility Policy</a>
</p>
</div>
