The code you need is:

# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:Help</title>
</%def>


<div class="row"><div class="two columns centered"><h4>Help</h4></div></div>
<div  class="row"> <p> Introduction to the Help section, explanaing what is and is not included here and linking to other appropriate sources of help (eg, technnical documentation, Websuth help pages, etc...)
</p></div>
<div class="row">
  <div class="tweve columns">
     <h5>Help section 1</h5>
     <p>brief explanation of what this section
       contains... Ut enim ad minim veniom, quis nostrud exercitation ullomoo loboris nisi ut
       allow ex ea commodo consequat. Duis cute irure dolor in reprehenderit in voluptate vela esse cilium dolore eu fugiat nulla pariatur.
    </p>
    <div class="section-container vertical-tabs" data-section="vertical-tabs">
      <section>
        <p class="title" data-section-title><a href="#">Subject</a></p>
        <div class="content" data-section-content>
          <p class="right"><a href="#">Show more</a></p>
          <p>Economics (337)</p>
          <p>Anthropology (306)</p>
          <p>Engineering &amp; allied sciences (245)</p>
          <p>Educatin (243)</p>
          <p>etc...</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Funder</a></p>
        <div class="content" data-section-content>
          <p class="right"><a href="#">Show more</a></p>
          <p>Content of section 2.</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Date of Publication</a></p>
        <div class="content" data-section-content>
          <p class="right"><a href="#">Show more</a></p>
          <p>Content of section 3.</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Faculty</a></p>
        <div class="content" data-section-content>
          <p class="right"><a href="#">Show more</a></p>
          <p>Content of section 4.</p>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">College</a></p>
        <div class="content" data-section-content>
          <p class="right"><a href="#">Show more</a></p>
          <p>Content of section 5.</p>
        </div>
      </section>
    </div>
  </div>

</div>
