# -*- coding: utf-8 -*-
  <div class="header">
    <div class="row">

					<a id="dflogo" href="/">
						<img src="${ STATIC_URL }images/df-logo.png"    alt="Data Finder" />
					</a>
		<div class="header-forms" >   
			    	  <%include file="/quick_login_form.html"/> 
		   
	    	  <%include file="/quick_search_form.html"/> 
	  
	  

	
		</div>
		<div class="header-logos">
					<a id="bodlogo" href="http://www.bodleian.ox.ac.uk">
						<img src="${ STATIC_URL }images/bod.png" alt="Bodleian Library" />
					</a>
	
	
					<a id="unilogo" href="http://www.bodleian.ox.ac.uk">
						<img src="${ STATIC_URL }images/ox_brand1_rev.gif" alt="University of Oxford" />
					</a>
		</div>
		
  </div>
  </div>
  

  
  <div class="row nav">
	 
	 
	 <ul class="menu">
        <li class="home first">
             <a href="/"> Home </a>
        </li>
        <li>
             <a href="/browse">browse</a>
        </li>
        <li>
             <a href="/search/">Search</a>
        </li>
        <li>
            <a href="/contribute">Contribute</a>
        </li>
        <li>
         <a href="/about">About</a>
        </li>
        <li>
         <a href="/help">Help</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
</li></ul>
  </div>

  
  
