# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>DataFinder:Help</title>
</%def>


<div class="row"><div class="two columns centered"><h4>Help</h4></div></div>
<div  class="row"> 
	<p> These guidelines offer information about DataFinder. For more information about 
	research data management in general at the University of Oxford see 
	the University RDM website at <a href = "http://www.admin.ox.ac.uk/rdm/"> http://www.admin.ox.ac.uk/rdm/ </a>
		</p>
</div>
<div class="row">
  <div class="four columns">
  	<h5>Types of data</h5>
  	<p>
	  	 DataFinder holds records for research data of many types across all disciplines.
	  	 Research data defined as 'the recorded information 
	  	 (regardless of the form or the media in which they may exist) necessary to support or validate 
	  	 a research project's observations, findings or outputs.' 
	  	 Data might be numerical, images, audio files, survey data, or take any other form.
  	 </p>
  </div>
 <div class="four columns">
  	<h5>Search DataFinder</h5>
  	<p>
	  	Click on the search tab. 
	  	Searchable information includes data creator names, dataset titles, funder name, subject, Oxford Faculty and College. 
	</p>
  </div>
  <div class="four columns">
  	<h5>Deposit a record in DataFinder</h5>
  	<p>
	  	Only members of the University of Oxford are permitted to add records to DataFinder. 
	  	Click on the 'contribute' tab and follow the instructions. You will need your Oxford Single-Sign-On password.
	</p>
  </div>
</div>
