# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>

<div class="row"><div class="seven columns centered"><h5>Discover research data from University of Oxford scholars</h5></div></div>

<div class="row">
    <div class="six columns">
	      	<div class="pleaseNote">
<p>Brief description of DataFinder goes here, exploring what the system does, why you would want to use it, and what you need to do 
to use it....  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<a href="" > read more about the service</a></p>
           </div>
    </div>
    <div class="six columns">
	    <div class="panel withborder">
	          <div class="two columns centered"><h5> Search </h5></div>
	    	  <%include file="/quick_search_form.html"/> 
	    	  <div><a href="/search/search_tips/" class="popup">?</a> Need any help with searching? </div>
	    </div>
	</div>
</div>



<div class="row">
    <div class="six columns">
	      	<div class="pleaseNote">
	      	<h6> Browse DataFinder </h6>
<p>Brief explanation of how you are able to browse the site ( and why you'd want to ...)	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
           </div>
    </div>
    <div class="six columns">
	      	<div class="pleaseNote">
	      	<h6> Contribute to DataFinder </h6>
<p>Brief description of how you would add records to DataFinder ...	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
           </div>
    </div>
</div>
<script type="text/javascript">
 $(document).ready( function() {
  $('.popup').popupWindow({ 
	centerBrowser:1 
	}); 
</script>
}