# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>

<div class="homepage home-wrapper">
    <div class="homepage intro ">

        <h1>Welcome to DataFinder</h1>
        
                <div class="inner">

        <p>A brief introduction to DataFinder goes here, explaining 
    why it’s such a great service and a Good Thing why 
    people should use it and what’s in it for them. This 
    will probably the longest bit of text on the home page, 
    so I’m stringing out this piece of holding text a bit...</p>
    <a class="go read-more" href="/about">read more</a>
    </div>
    </div>
    
    <div class="homepage stats ">
        <h2>DataFinder in numbers</h2>
                <div class="inner">

       <dl>
       <dt>number of records</dt><dd>${numFound}</dd>
       <dt>records added in the last week</dt><dd>${numFoundThisWeek}</dd>
       </dl>
       </div>
    </div>  
    
    
    <div class="homepage search ">
        <h2>Search DataFinder</h2>
        <div class="inner">

        <div class="search-intro">
        <p>Some encouraging text on why you might to 
    search the site and a brief words on how to 
    (e.g. by author, department etc...).  It’ll
    probably a bit more text than this though.</p>
    
        <p>Maybe this much.  Or this much. Or maybe 
    even this much, who knows, it might even 
    include a link to <a href="#" >help with searching</a> or 
    something like that.
        
        </p>
        </div>
        
        <div class="search-form">
        <form   id="homepage-seatch"  action="/search/detailed" method="get">
            <div class="home-search">
               <div class="label-field-pair"><label for="search-keyword">keyword</label><input id="search-keyword" type="text"  name="q"/><!-- id="q" --></div>
               
                              <div class="label-field-pair"><label for="search-author">author</label><input id="search-author" type="text"  name="author"/></div>
                              
<div class="label-field-pair"><label for="search-department">department</label>               
        <select id="search-department" >
             <option value="all">all</option>
            <option value="Anthropology">Anthropology</option>
            <option value="English">English</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>

        </select>                              
</div>                         
                              
           <div class="form-submit">     <input type="submit"  name="search"  value="search" /><!-- id="search" -->
           </div>
            </div>
          </form>
          <a href="#" class="go help" >help with searching</a>
          <a href="#" class="go" >advanced search</a>

          </div>
          
                      <div class="clear-fix"></div>

         </div>
         
         
         </div>
         
</div>    

     

<script type="text/javascript">
 $(document).ready( function() {
  $('.popup').popupWindow({ 
	centerBrowser:1 
	}); }
</script>
