# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> DataFinder </title>
</%def>

<div class="homepage home-wrapper">
    <div class="homepage intro ">

        <h1>Welcome to DataFinder</h1>
        
                <div class="inner">

        <p>Use DataFinder to find and locate research data produced by University of Oxford scholars.
      DataFinder will be the University of Oxford's catalogue of research data produced by members of the University.
       It will enable datasets to be cited and discovered whatever their location and irrespective of
        whether data are accessible. Development is continuing on this key strategic service. 
        A full service will be offered once development is complete later in 2013 and dependent on funding.</p>
    <a class="go read-more" href="/about">read more</a>
    </div>
    </div>
    
    <div class="homepage stats ">
        <h2>DataFinder in numbers</h2>
                <div class="inner">

       <dl>
       <dt>number of records</dt><dd>${numFound}</dd>
       <dt>records added in the last week</dt><dd>${numFoundThisWeek}</dd>
       </dl>
       </div>
    </div>  
    
    
    <div class="homepage search ">
        <h2>Search DataFinder</h2>
        <div class="inner">

        <div class="search-intro">
        <p>Some encouraging text on why you might to 
    search the site and a brief words on how to 
    (e.g. by author, department etc...).  It’ll
    probably a bit more text than this though.</p>
    
        <p>Maybe this much.  Or this much. Or maybe 
    even this much, who knows, it might even 
    include a link to <a href="#" >help with searching</a> or 
    something like that.
        
        </p>
        </div>
        
        <div class="search-form">
        <form   id="homepage-seatch"  action="/search/detailed" method="get">
            <div class="home-search">
               <div class="label-field-pair"><label for="search-keyword">keyword</label><input id="q" type="text"  name="q"/><!-- id="q" --></div>
               
                              <div class="label-field-pair"><label for="search-author">author</label><input id="filterf_creator" type="text"  name="filterf_creator"/></div>
                              
<div class="label-field-pair"><label for="search-department">department</label>               
        <select id="search-department" >
             <option value="all">all</option>
            <option value="Anthropology">Anthropology</option>
            <option value="English">English</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>

        </select>                              
</div>                         
                              
           <div class="form-submit">     <input type="submit"  name="search"  value="search" /><!-- id="search" -->
           </div>
            </div>
          </form>
          <a href="#" class="go help" >help with searching</a>
          <a href="#" class="go" >advanced search</a>

          </div>
          
                      <div class="clear-fix"></div>

         </div>
         
         
         </div>
         
</div>    

     

<script type="text/javascript">
 $(document).ready( function() {
  $('.popup').popupWindow({ 
	centerBrowser:1 
	}); }
</script>
