# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>DataFinder:My records</title>
</%def>


<div class="row"><div class="three columns centered"><h4>My Records</h4></div></div>

<div class="row">
This page lists your records within the system. You can sort the listing using arrow buttons in the column headings,
filter the listing by status or search within your records.
</div>

<div class="row">
  <div class="1 column">
   <input type="checkbox" name="select" value="select"/>
       select all
  </div>
   <div class="2 columns">

  </div>
  <div class="2 columns">
    apply to selected
  </div>
  <div class="2 columns">
	 <select>
	 	<option> Draft </option>
	 	<option> Awaiting Review </option>
	 	<option> Rejected </option>
	 	<option> Escalated </option>
	 	<option> Locked for Review </option>
	 	<option> Published </option>
	 	<option> Referred to Contributer </option>
	</select>
  </div>
  <div class="6 columns">
  </div>
</div>
<div class="row">
	<table>
		<thead>
			<tr>
			    <th>select</th>
			    <th>Title</th>
			    <th>Filesize</th>
			    <th>Date submitted</th>
			    <th>Last modified</th>
			    <th>status</th>
			    <th>edit</th>                         
			</tr>
			% for df_record in solr_response['docs']:
			<tr>
			    <td><input type="checkbox" name="select" value="select"/></td>
			    <td><a href='/search/recordview?id=${df_record['title'][0]}'>${df_record['title'][0]}</a></td>
			    <td>36KB</td>
			    <td>${df_record['created'][0]}</td>
			    <td>${df_record['timestamp']}</td>
			    % if 'status' in df_record:
			    	<td>${df_record['status']}</td>
			    	% else:
			    	<td> </td>
			    % endif
			    <th><a href="https://datafinder-d2v.bodleian.ox.ac.uk/contribute?id=${df_record['title'][0]}">edit</a></th>                           
			</tr>
			<!-- <tr>
			    <td>  <input type="checkbox" name="select" value="select"/></td>
			    <td>some record</td>
			    <td>36KB</td>
			    <td>06/07/2007</td>
			    <td>17/04/2012</td>
			    <td>submited for approval</td>
			    <th><a href="">edit</a></th>                        
			</tr> -->
			% endfor
			
		</thead>
	</table>
</div>
