# -*- coding: utf-8 -*-
<div class="row footer">
  <div class="three columns">
  </div>
  <div class="three columns">
	 <div class="panel">
  		<a href="/terms-conditions">terms and  conditions</a>
  	  </div>

  </div>	
  <div class="one columns">
	 <div class="panel">	
  		<a href="/privacy">privacy</a>
  	  </div>
  </div>	
  <div class="one columns">
	 <div class="panel">
  		<a href="/accessibility">accessibility</a></li>
  	  </div>
  </div>	
  <div class="four columns">
  </div>
</div>
