# -*- coding: utf-8 -*-
  <div class="row header">
    <div class="three columns">
	      <div class="panel">
	      	<span id="dflogo">
					<a href="">
						<img src="${ STATIC_URL }data_finder_oxblue.jpg" alt="Data Finder" />
					</a>
		    </span>
	      </div>    
    </div>
    <div class="three columns">
	    <div class="panel withborder">
	    	  <%include file="/quick_search_form.html"/> 
	    </div>
	</div>
	<div class="two columns">
	    <div class="panel withborder">
	    	  <%include file="/quick_login_form.html"/> 
	    </div>
	</div>
	<div class="two columns">
	    <span id="bodlogo">
					<a href="http://www.bodleian.ox.ac.uk">
						<img src="${ STATIC_URL }images/bod.png" alt="Bodleian Library" />
					</a>
		</span>
	</div>
	<div class="two columns">
	    <span id="unilogo">
					<a href="http://www.bodleian.ox.ac.uk">
						<img src="${ STATIC_URL }images/ox_brand1_rev.gif" alt="University of Oxford" />
					</a>
		</span>
	</div>
  </div>
  
  <div> </div>
  
  <div class="row nav">
	 
	 
	 <ul class="menu">
        <li class="home first">
             <a href="/home"> Home </a>
        </li>
        <li>
             <a href="/home">browse</a>
        </li>
        <li>
             <a href="/search/">Search</a>
        </li>
        <li>
            <a href="/contribute">Contribute</a>
        </li>
        <li>
         <a href="/about">About</a>
        </li>
        <li>
         <a href="/help">Help</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
</li></ul>
  </div>

  
  
