# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:privacy</title>
</%def>


<div class="row"><div class="two columns centered"><h4>Privacy</h4></div></div>

<div class="row">

<p><h5>Disclaimer</h5>
Waiting on  Legal Services </p>
<p><h5>DataProtection</h5>
Waiting on Legal Services
</p>
<p><h5>CookiesinDataFinder</h5>
</p>
<p><h5>Whatarecookies?</h5>
Cookies are small text files that can be written and read by websites and stored by the browser on your computer,tablet or smortphone. They do a number of things including allowing occess to some types of content and functionality to users, and collecting anonymous user information so that site owners can monitor the performance of their sites. They are a kind of memory for a website that can help it respond appropriately to users and user behaviour.
</p>
<p><h5>Cookies on this website</h5>
This website stores cookies for use in website analytics. This anonymously tracks individual visitor behaviour on the website so that we can see how the site is being used. We only use this information for monitoring and improving our website and content for the benefit of our users(you).
</p>
<p>More information about control ing these cookies can be found at http://www.bodleian.oxacuktcookies,</p>
</div>
f