# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:Administration</title>
</%def>


<div class="row"><div class="three columns centered"><h4>Administration</h4></div></div>

% if message:
	<div class="usermessage ${status}">${message}</div>
% endif

<div class="row"><h5>Records for review</h5></div>


<div class="row">
	<table>
		<thead>
			<tr>
			    <th>Title</th>
			    <th>Filesize</th>
			    <th>Date submitted</th>
			    <th>Last modified</th>
			    <th>owner</th>
			    <th>status</th>
			    <th>action</th>                  
			</tr>
		</thead>
	</table>
</div>



<div class="row">
	<table>
		<thead>
			<tr>
			    <th>Title</th>
			    <th>Filesize</th>
			    <th>Date submitted</th>
			    <th>Last modified</th>
			    <th>owner</th>
			    <th>status</th>
			    <th>action</th>                  
			</tr>
			<tr>
			    <td>A record</td>
			    <td>36KB</td>
			    <td>16/04/2012</td>
			    <td>17/04/2012</td>
			    <td>another researcher</td>
			    <td>awaiting review</td>   
			    <td>review</td>                     
			</tr>
			<tr>
			    <td>some record</td>
			    <td>36KB</td>
			    <td>06/07/2007</td>
			    <td>17/04/2012</td>
			    <td>some researcher</td>
			    <td>referred to contributor</td>   
			    <td></td>       			    		                 
			</tr>
			<tr>
			    <td>another record</td>
			    <td>36KB</td>
			    <td>16/04/2012</td>
			    <td>17/04/2012</td>
			    <td>a researcher</td>
			    <td>escalated</td>   
			    <td>review (only shown to admin users)</td>       			                     
			</tr>
			<tr>
			    <td>this is a record</td>
			    <td>36KB</td>
			    <td>16/04/2012</td>
			    <td>17/04/2012</td>
			    <td>a researcher</td>
			    <td>lockedforreview</td>   
			    <td></td>       			                        
			</tr>
			
		</thead>
	</table>
</div>



<div class="row">
	<h5>Metadata sources - Registered</h5>
</div>

<div class="row">
	<table>
		<thead>
			<tr>
			    <th>name</th>
			    <th>uri</th>
			    <th>edit</th>
			    <th>delete</th>
			</tr>
	     </thead>
	     <tbody>
			% if registered_sources and len(registered_sources) > 0:
				 % for registered_source in registered_sources:
				    <tr>
					    <td><a href="/admin/${registered_source.source}">${registered_source.source}</a></td>
					    <td>${registered_source.uri}</td>
				        <td><a href="/admin/source/edit?source=${registered_source.source}">edit</a></td>
				        <td><a href="/admin/source/del?source=${registered_source.source}">delete</a></td>
			        </tr>
				    </tr>
				  % endfor
			% endif
		 </tbody>
	</table>
</div>

<div class="row">
	<h5>Metadata sources - Unregistered</h5>
	<form method="GET"  action="/admin/source/add/" >
    	<input type="submit" id="addsource" name ="addsource" value="addsource"/>
	</form>	
</div>

<div class="row">
  		<p>Number of sources awaiting admin approval: ${len(unregistered_sources)}</p>
		<table>
			<thead>
				<tr>
				    <th>name</th>
				    <th>uri</th>
				    <th>edit</th>
				    <th>delete</th>
				    <th>approve</th>
				</tr>
		     </thead>
		     <tbody>
		    % if unregistered_sources and len(unregistered_sources) > 0:
				 % for unregistered_source in unregistered_sources:
				    <tr>
					    <td><a href="/admin/${unregistered_source.source}">${unregistered_source.source}</a></td>
					    <td>${unregistered_source.uri}</td>
				        <td><a href="/admin/source/edit?source=${unregistered_source.source}">edit</a></td>
				        <td><a href="/admin/source/del?source=${unregistered_source.source}">delete</a></td>
				        <td><a href="/admin/source/approve?source=${unregistered_source.source}">approve</a></td>
			        </tr>
				    </tr>
				  % endfor
			% endif
			 </tbody>
		</table>	
  </div>


<div class="row">
	<h5>Permissions</h5>
	<div class="row"> Enter Oxford SSO ID : </div>
	<form id="manageusers" name="manageusers" method="GET"  action="/admin/users/edit" >
		<table>
				<tr>
				    <td><input type="text" name="user_sso_id" id="user_sso_id"/></td>
				    <td><input type="submit" id="adduser" name ="adduser" value="add user"/></td>
	                <td><input type="submit" id="edituser" name ="edituser" value="edit user"/></td>
				    <td><input type="submit" id="deluser" name ="deluser" value="del user"/></td>
				</tr>
		</table>
	</form>
</div>

