# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:Administration-EditUser</title>
</%def>


<div class="row"><div class="three columns centered"><h4>Edit user</h4></div></div>

% if message:
	<div class="usermessage ${status}">${message}</div>
% endif

	<div class="row">
		<form method="POST"  action="/admin/users/edit/" >
		    <div class="four columns centered">
		       <div class="row"> Oxford SSO ID :  ${user_sso_id} </div>
	           <div class="row"> username : ${user_sso_name} </div>
	           <div class="row"> primary email : ${user_sso_email}</div>
	           <div class="row">
	              <div class="six columns "> </div>
	              <div class="two columns ">    role:  </div>
	              <div class="four columns ">
	                  <select id="user_role" name="user_role">
			             % for role in ("user","admin","reviewer"):
			             	%  if role == user_role:
			                  <option  selected value="${role}"> ${role}</option>
			                % else:
			                  <option  value="${role}">${role}</option>
			                % endif
		                 % endfor
               		  </select>
				  </div>
	    	   </div>
	           <div  class="row">
	           
		    	        <input type="hidden" id="user_sso_id" name ="user_sso_id" value="${user_sso_id}"/>
		    	   		<input type="submit" id="save" name ="save" value="save"/>
		    	   </div>
	    	   </div>
		    </div>	    
	   </form>
	</div>


<script>
$(document).ready( function() {
  $(function() {
    $("#user_role").val('admin');
});
}
</script>