# -*- coding: utf-8 -*-
<%inherit file="/newbase.html" />
<%def name="head_tags()">
  <title>DataFinder:Administration-ManageUsers</title>
</%def>


<div class="row"><div class="three columns centered"><h4>Manage users</h4></div></div>


<div class="row">
<form method="GET"  action="/admin/users/add" >
	<input type="submit" id="adduser" name ="adduser" value="adduser"/>
</form>
</div>
<div class="row">
	<table>
		<thead>
			<tr>
			    <th>name</th>
			    <th>usernmae</th>
			    <th>role</th>
			</tr>
			<tr>
			    <td>Joseph Talbot</td>
			    <td>talbotj</td>
			    <td>admin</td>
			</tr>
            <tr>
				<td>Bob Quest</td>
			    <td>BQ0012</td>
			    <td>member</td>
			</tr>
			<tr>
			    <td>Kelvin Kilbone</td>
			    <td>KB2445</td>
			    <td>owner</td>
			</tr>
		</thead>
	</table>
</div>
